@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2B2B2B;
  --color-secondary: #FFB400;
  --color-background: #FFFFFF;
  --color-background-secondary: #F0F0F6;
  --color-paragraph: #767676;
  --font-family: "Inter", sans-serif;
}